-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: htqlch_thietbi_cn
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anh_san_pham`
--

DROP TABLE IF EXISTS `anh_san_pham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `anh_san_pham` (
  `ma_anh` int(11) NOT NULL AUTO_INCREMENT,
  `ma_san_pham` int(11) NOT NULL,
  `duong_dan_anh` varchar(255) NOT NULL,
  `la_anh_chinh` tinyint(1) NOT NULL DEFAULT 0,
  `thu_tu` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`ma_anh`),
  KEY `idx_san_pham` (`ma_san_pham`),
  CONSTRAINT `anh_san_pham_ibfk_1` FOREIGN KEY (`ma_san_pham`) REFERENCES `san_pham` (`ma_san_pham`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh sach anh cua san pham';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anh_san_pham`
--

LOCK TABLES `anh_san_pham` WRITE;
/*!40000 ALTER TABLE `anh_san_pham` DISABLE KEYS */;
/*!40000 ALTER TABLE `anh_san_pham` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_don_hang`
--

DROP TABLE IF EXISTS `chi_tiet_don_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_don_hang` (
  `ma_chi_tiet` int(11) NOT NULL AUTO_INCREMENT,
  `ma_don_hang` int(11) NOT NULL,
  `ma_san_pham` int(11) NOT NULL,
  `ten_san_pham` varchar(200) NOT NULL,
  `anh_san_pham` varchar(255) DEFAULT NULL,
  `don_gia` decimal(15,2) NOT NULL,
  `so_luong` int(11) NOT NULL,
  `thanh_tien` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ma_chi_tiet`),
  KEY `idx_don_hang` (`ma_don_hang`),
  KEY `idx_san_pham` (`ma_san_pham`),
  CONSTRAINT `chi_tiet_don_hang_ibfk_1` FOREIGN KEY (`ma_don_hang`) REFERENCES `don_hang` (`ma_don_hang`) ON DELETE CASCADE,
  CONSTRAINT `chi_tiet_don_hang_ibfk_2` FOREIGN KEY (`ma_san_pham`) REFERENCES `san_pham` (`ma_san_pham`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Chi tiet san pham trong don hang';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_don_hang`
--

LOCK TABLES `chi_tiet_don_hang` WRITE;
/*!40000 ALTER TABLE `chi_tiet_don_hang` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_tiet_don_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_flash_sale`
--

DROP TABLE IF EXISTS `chi_tiet_flash_sale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_flash_sale` (
  `ma_chi_tiet` int(11) NOT NULL AUTO_INCREMENT,
  `ma_flash_sale` int(11) NOT NULL,
  `ma_san_pham` int(11) NOT NULL,
  `gia_flash` decimal(15,2) NOT NULL,
  `so_luong_gioi_han` int(11) DEFAULT NULL,
  `da_ban` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`ma_chi_tiet`),
  UNIQUE KEY `uq_flash_sp` (`ma_flash_sale`,`ma_san_pham`),
  KEY `ma_san_pham` (`ma_san_pham`),
  CONSTRAINT `chi_tiet_flash_sale_ibfk_1` FOREIGN KEY (`ma_flash_sale`) REFERENCES `flash_sale` (`ma_flash_sale`) ON DELETE CASCADE,
  CONSTRAINT `chi_tiet_flash_sale_ibfk_2` FOREIGN KEY (`ma_san_pham`) REFERENCES `san_pham` (`ma_san_pham`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_flash_sale`
--

LOCK TABLES `chi_tiet_flash_sale` WRITE;
/*!40000 ALTER TABLE `chi_tiet_flash_sale` DISABLE KEYS */;
INSERT INTO `chi_tiet_flash_sale` VALUES (1,1,9,1791000.00,NULL,0),(2,1,47,3591000.00,NULL,0),(3,1,44,11241000.00,NULL,0),(4,1,46,2421000.00,NULL,0),(5,1,26,8091000.00,NULL,0),(6,1,42,40491000.00,NULL,0);
/*!40000 ALTER TABLE `chi_tiet_flash_sale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_gio_hang`
--

DROP TABLE IF EXISTS `chi_tiet_gio_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_gio_hang` (
  `ma_chi_tiet` int(11) NOT NULL AUTO_INCREMENT,
  `ma_gio_hang` int(11) NOT NULL,
  `ma_san_pham` int(11) NOT NULL,
  `so_luong` int(11) NOT NULL DEFAULT 1,
  `don_gia` decimal(15,2) NOT NULL,
  `ngay_them` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_chi_tiet`),
  UNIQUE KEY `uq_gio_san_pham` (`ma_gio_hang`,`ma_san_pham`),
  KEY `ma_san_pham` (`ma_san_pham`),
  KEY `idx_gio_hang` (`ma_gio_hang`),
  CONSTRAINT `chi_tiet_gio_hang_ibfk_1` FOREIGN KEY (`ma_gio_hang`) REFERENCES `gio_hang` (`ma_gio_hang`) ON DELETE CASCADE,
  CONSTRAINT `chi_tiet_gio_hang_ibfk_2` FOREIGN KEY (`ma_san_pham`) REFERENCES `san_pham` (`ma_san_pham`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='San pham trong gio hang';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_gio_hang`
--

LOCK TABLES `chi_tiet_gio_hang` WRITE;
/*!40000 ALTER TABLE `chi_tiet_gio_hang` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_tiet_gio_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danh_gia`
--

DROP TABLE IF EXISTS `danh_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `danh_gia` (
  `ma_danh_gia` int(11) NOT NULL AUTO_INCREMENT,
  `ma_nguoi_dung` int(11) NOT NULL,
  `ma_san_pham` int(11) NOT NULL,
  `ma_chi_tiet_dh` int(11) DEFAULT NULL,
  `so_sao` tinyint(1) NOT NULL CHECK (`so_sao` between 1 and 5),
  `binh_luan` text DEFAULT NULL,
  `phan_hoi_admin` text DEFAULT NULL,
  `ngay_phan_hoi` timestamp NULL DEFAULT NULL,
  `da_duyet` tinyint(1) NOT NULL DEFAULT 0,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_danh_gia`),
  UNIQUE KEY `uq_nguoi_sp_dh` (`ma_nguoi_dung`,`ma_san_pham`,`ma_chi_tiet_dh`),
  KEY `ma_chi_tiet_dh` (`ma_chi_tiet_dh`),
  KEY `idx_san_pham` (`ma_san_pham`),
  KEY `idx_da_duyet` (`da_duyet`),
  CONSTRAINT `danh_gia_ibfk_1` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`) ON DELETE CASCADE,
  CONSTRAINT `danh_gia_ibfk_2` FOREIGN KEY (`ma_san_pham`) REFERENCES `san_pham` (`ma_san_pham`) ON DELETE CASCADE,
  CONSTRAINT `danh_gia_ibfk_3` FOREIGN KEY (`ma_chi_tiet_dh`) REFERENCES `chi_tiet_don_hang` (`ma_chi_tiet`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh gia va binh luan cua nguoi dung ve san pham';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danh_gia`
--

LOCK TABLES `danh_gia` WRITE;
/*!40000 ALTER TABLE `danh_gia` DISABLE KEYS */;
INSERT INTO `danh_gia` VALUES (1,3,15,1,5,'san pham tot','shop cam on\nnhe','2026-04-22 14:39:45',1,'2026-04-22 02:43:43');
/*!40000 ALTER TABLE `danh_gia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danh_muc`
--

DROP TABLE IF EXISTS `danh_muc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `danh_muc` (
  `ma_danh_muc` int(11) NOT NULL AUTO_INCREMENT,
  `ten_danh_muc` varchar(100) NOT NULL,
  `duong_dan` varchar(120) NOT NULL,
  `mo_ta` text DEFAULT NULL,
  `hinh_anh` varchar(255) DEFAULT NULL,
  `ma_danh_muc_cha` int(11) DEFAULT NULL,
  `trang_thai` tinyint(1) NOT NULL DEFAULT 1,
  `thu_tu` int(11) NOT NULL DEFAULT 0,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_danh_muc`),
  UNIQUE KEY `duong_dan` (`duong_dan`),
  KEY `idx_duong_dan` (`duong_dan`),
  KEY `idx_danh_muc_cha` (`ma_danh_muc_cha`),
  CONSTRAINT `danh_muc_ibfk_1` FOREIGN KEY (`ma_danh_muc_cha`) REFERENCES `danh_muc` (`ma_danh_muc`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bang danh muc san pham (co the co phan cap)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danh_muc`
--

LOCK TABLES `danh_muc` WRITE;
/*!40000 ALTER TABLE `danh_muc` DISABLE KEYS */;
INSERT INTO `danh_muc` VALUES (1,'Laptop','laptop','M├íy t├¡nh x├ích tay c├íc loß║íi',NULL,NULL,1,1,'2026-04-20 04:00:40'),(2,'─Éiß╗çn thoß║íi','dien-thoai','─Éiß╗çn thoß║íi th├┤ng minh',NULL,NULL,1,2,'2026-04-20 04:00:40'),(4,'M├án h├¼nh','man-hinh','M├án h├¼nh m├íy t├¡nh c├íc loß║íi',NULL,NULL,1,4,'2026-04-20 04:00:40'),(5,'Phß╗Ñ kiß╗çn','phu-kien','Phß╗Ñ kiß╗çn c├┤ng nghß╗ç',NULL,NULL,1,5,'2026-04-20 04:00:40'),(13,'Laptop Gaming','laptop-gaming',NULL,NULL,NULL,1,0,'2026-04-22 03:03:29'),(14,'Laptop V─ân Ph├▓ng','laptop-van-phong',NULL,NULL,NULL,1,0,'2026-04-22 03:03:29');
/*!40000 ALTER TABLE `danh_muc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dia_chi_nguoi_dung`
--

DROP TABLE IF EXISTS `dia_chi_nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dia_chi_nguoi_dung` (
  `ma_dia_chi` int(11) NOT NULL AUTO_INCREMENT,
  `ma_nguoi_dung` int(11) NOT NULL,
  `ten_nhan` varchar(100) NOT NULL DEFAULT 'Nh├á',
  `dia_chi_day_du` text NOT NULL,
  `tinh_thanh` varchar(100) DEFAULT NULL,
  `quan_huyen` varchar(100) DEFAULT NULL,
  `lat` decimal(10,8) DEFAULT NULL,
  `lng` decimal(11,8) DEFAULT NULL,
  `la_mac_dinh` tinyint(1) NOT NULL DEFAULT 0,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_dia_chi`),
  KEY `idx_nguoi_dung` (`ma_nguoi_dung`),
  KEY `idx_mac_dinh` (`la_mac_dinh`),
  CONSTRAINT `dia_chi_nguoi_dung_ibfk_1` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh sach dia chi giao hang da luu cua nguoi dung';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dia_chi_nguoi_dung`
--

LOCK TABLES `dia_chi_nguoi_dung` WRITE;
/*!40000 ALTER TABLE `dia_chi_nguoi_dung` DISABLE KEYS */;
INSERT INTO `dia_chi_nguoi_dung` VALUES (1,3,'Nh├á','X├ú B├¼nh Mß╗╣, Th├ánh phß╗æ Hß╗ô Ch├¡ Minh, Viß╗çt Nam','Th├ánh phß╗æ Hß╗ô Ch├¡ Minh','Huyß╗çn Cß╗º Chi',10.98016650,106.61015960,0,'2026-04-22 02:23:57'),(2,3,'C╞í quan','─É╞░ß╗¥ng sß╗æ 123, Khu phß╗æ 35, Ph╞░ß╗¥ng Ph╞░ß╗¢c Long, Th├ánh phß╗æ Thß╗º ─Éß╗⌐c, Th├ánh phß╗æ Hß╗ô Ch├¡ Minh, 71210, Viß╗çt Nam','Th├ánh phß╗æ Hß╗ô Ch├¡ Minh','Th├ánh phß╗æ Thß╗º ─Éß╗⌐c',10.81673820,106.76581390,1,'2026-04-22 02:24:31');
/*!40000 ALTER TABLE `dia_chi_nguoi_dung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `don_hang`
--

DROP TABLE IF EXISTS `don_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `don_hang` (
  `ma_don_hang` int(11) NOT NULL AUTO_INCREMENT,
  `ma_nguoi_dung` int(11) NOT NULL,
  `ma_code` varchar(50) NOT NULL,
  `tam_tinh` decimal(15,2) NOT NULL,
  `so_tien_giam` decimal(15,2) NOT NULL DEFAULT 0.00,
  `phi_van_chuyen` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tong_tien` decimal(15,2) NOT NULL,
  `ma_voucher` int(11) DEFAULT NULL,
  `diem_su_dung` int(11) NOT NULL DEFAULT 0,
  `diem_tich_duoc` int(11) NOT NULL DEFAULT 0,
  `trang_thai` enum('cho_xac_nhan','da_xac_nhan','dang_giao','da_giao','da_huy','hoan_tien') NOT NULL DEFAULT 'cho_xac_nhan',
  `phuong_thuc_tt` enum('tien_mat','chuyen_khoan','momo','diem_tich_luy') NOT NULL DEFAULT 'tien_mat',
  `trang_thai_tt` enum('chua_tt','da_tt','da_hoan_tien') NOT NULL DEFAULT 'chua_tt',
  `ten_nguoi_nhan` varchar(100) NOT NULL,
  `sdt_nguoi_nhan` varchar(20) NOT NULL,
  `dia_chi_giao_hang` text NOT NULL,
  `ghi_chu` text DEFAULT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  `ngay_cap_nhat` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `ma_voucher_ship` int(11) DEFAULT NULL COMMENT 'Voucher gi???m ph?? v???n chuy???n',
  `so_tien_giam_ship` decimal(15,0) NOT NULL DEFAULT 0 COMMENT 'S??? ti???n ???????c gi???m t??? ph?? v???n chuy???n',
  PRIMARY KEY (`ma_don_hang`),
  UNIQUE KEY `ma_code` (`ma_code`),
  KEY `ma_voucher` (`ma_voucher`),
  KEY `idx_nguoi_dung` (`ma_nguoi_dung`),
  KEY `idx_ma_code` (`ma_code`),
  KEY `idx_trang_thai` (`trang_thai`),
  KEY `idx_ngay_tao` (`ngay_tao`),
  CONSTRAINT `don_hang_ibfk_1` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`),
  CONSTRAINT `don_hang_ibfk_2` FOREIGN KEY (`ma_voucher`) REFERENCES `ma_giam_gia` (`ma_voucher`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bang don hang cua khach hang';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `don_hang`
--

LOCK TABLES `don_hang` WRITE;
/*!40000 ALTER TABLE `don_hang` DISABLE KEYS */;
/*!40000 ALTER TABLE `don_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flash_sale`
--

DROP TABLE IF EXISTS `flash_sale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flash_sale` (
  `ma_flash_sale` int(11) NOT NULL AUTO_INCREMENT,
  `ten` varchar(200) NOT NULL DEFAULT 'Flash Sale',
  `thoi_gian_bat_dau` datetime NOT NULL,
  `thoi_gian_ket_thuc` datetime NOT NULL,
  `trang_thai` tinyint(1) NOT NULL DEFAULT 1,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_flash_sale`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flash_sale`
--

LOCK TABLES `flash_sale` WRITE;
/*!40000 ALTER TABLE `flash_sale` DISABLE KEYS */;
INSERT INTO `flash_sale` VALUES (1,'Flash Sale Khai Tr╞░╞íng','2026-04-21 17:26:00','2026-04-23 23:26:00',1,'2026-04-22 14:26:48');
/*!40000 ALTER TABLE `flash_sale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gio_hang`
--

DROP TABLE IF EXISTS `gio_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gio_hang` (
  `ma_gio_hang` int(11) NOT NULL AUTO_INCREMENT,
  `ma_nguoi_dung` int(11) NOT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  `ngay_cap_nhat` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`ma_gio_hang`),
  UNIQUE KEY `ma_nguoi_dung` (`ma_nguoi_dung`),
  KEY `idx_nguoi_dung` (`ma_nguoi_dung`),
  CONSTRAINT `gio_hang_ibfk_1` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Gio hang cua tung nguoi dung';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gio_hang`
--

LOCK TABLES `gio_hang` WRITE;
/*!40000 ALTER TABLE `gio_hang` DISABLE KEYS */;
INSERT INTO `gio_hang` VALUES (1,1,'2026-04-20 04:00:40','2026-04-20 04:00:40'),(2,2,'2026-04-20 04:00:40','2026-04-20 04:00:40'),(3,3,'2026-04-20 04:00:40','2026-04-20 04:00:40'),(4,4,'2026-04-20 04:00:40','2026-04-20 04:00:40'),(5,5,'2026-04-20 04:00:40','2026-04-20 04:00:40');
/*!40000 ALTER TABLE `gio_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_kho`
--

DROP TABLE IF EXISTS `lich_su_kho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_kho` (
  `ma_lich_su` int(11) NOT NULL AUTO_INCREMENT,
  `ma_san_pham` int(11) NOT NULL,
  `ma_nguoi_dung` int(11) DEFAULT NULL,
  `so_luong_bien_dong` int(11) NOT NULL,
  `ton_kho_truoc` int(11) NOT NULL,
  `ton_kho_sau` int(11) NOT NULL,
  `loai_giao_dich` enum('nhap','xuat','dieu_chinh','hoan_tra') NOT NULL,
  `ghi_chu` text DEFAULT NULL,
  `ma_tham_chieu` varchar(100) DEFAULT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_lich_su`),
  KEY `ma_nguoi_dung` (`ma_nguoi_dung`),
  KEY `idx_san_pham` (`ma_san_pham`),
  KEY `idx_loai` (`loai_giao_dich`),
  KEY `idx_ngay_tao` (`ngay_tao`),
  CONSTRAINT `lich_su_kho_ibfk_1` FOREIGN KEY (`ma_san_pham`) REFERENCES `san_pham` (`ma_san_pham`) ON DELETE CASCADE,
  CONSTRAINT `lich_su_kho_ibfk_2` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Lich su bien dong ton kho san pham';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_kho`
--

LOCK TABLES `lich_su_kho` WRITE;
/*!40000 ALTER TABLE `lich_su_kho` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_su_kho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_voucher`
--

DROP TABLE IF EXISTS `lich_su_voucher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_voucher` (
  `ma_lich_su` int(11) NOT NULL AUTO_INCREMENT,
  `ma_voucher` int(11) NOT NULL,
  `ma_nguoi_dung` int(11) NOT NULL,
  `ma_don_hang` int(11) DEFAULT NULL,
  `so_tien_giam` decimal(15,2) NOT NULL,
  `ngay_su_dung` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_lich_su`),
  KEY `idx_voucher` (`ma_voucher`),
  KEY `idx_nguoi_dung` (`ma_nguoi_dung`),
  CONSTRAINT `lich_su_voucher_ibfk_1` FOREIGN KEY (`ma_voucher`) REFERENCES `ma_giam_gia` (`ma_voucher`) ON DELETE CASCADE,
  CONSTRAINT `lich_su_voucher_ibfk_2` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Lich su nguoi dung su dung ma giam gia';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_voucher`
--

LOCK TABLES `lich_su_voucher` WRITE;
/*!40000 ALTER TABLE `lich_su_voucher` DISABLE KEYS */;
INSERT INTO `lich_su_voucher` VALUES (1,1,3,2,500000.00,'2026-04-22 03:16:05'),(2,3,3,11,30000.00,'2026-04-22 16:30:03');
/*!40000 ALTER TABLE `lich_su_voucher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ma_giam_gia`
--

DROP TABLE IF EXISTS `ma_giam_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ma_giam_gia` (
  `ma_voucher` int(11) NOT NULL AUTO_INCREMENT,
  `ma_code` varchar(50) NOT NULL,
  `ten_voucher` varchar(150) NOT NULL,
  `mo_ta` text DEFAULT NULL,
  `loai_giam` enum('percent','fixed_amount','freeship') NOT NULL DEFAULT 'fixed_amount',
  `gia_tri_giam` decimal(15,2) NOT NULL,
  `giam_toi_da` decimal(15,2) DEFAULT NULL COMMENT 'Giam toi da (cho loai percent)',
  `don_hang_toi_thieu` decimal(15,2) NOT NULL DEFAULT 0.00,
  `so_lan_toi_da` int(11) NOT NULL DEFAULT 1,
  `da_su_dung` int(11) NOT NULL DEFAULT 0,
  `gioi_han_moi_nguoi` int(11) NOT NULL DEFAULT 1,
  `trang_thai` tinyint(1) NOT NULL DEFAULT 1,
  `ngay_bat_dau` datetime NOT NULL DEFAULT current_timestamp(),
  `ngay_het_han` datetime NOT NULL DEFAULT '2099-12-31 23:59:59',
  `ngay_tao` datetime NOT NULL DEFAULT current_timestamp(),
  `loai_voucher` enum('product','shipping','promo_code') NOT NULL DEFAULT 'product' COMMENT 'product=gi???m ti???n SP, shipping=gi???m ph?? ship, promo_code=m?? s??? ki???n',
  PRIMARY KEY (`ma_voucher`),
  UNIQUE KEY `ma_code` (`ma_code`),
  KEY `idx_ma_code` (`ma_code`),
  KEY `idx_trang_thai` (`trang_thai`),
  KEY `idx_het_han` (`ngay_het_han`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bang quan ly ma giam gia / voucher';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ma_giam_gia`
--

LOCK TABLES `ma_giam_gia` WRITE;
/*!40000 ALTER TABLE `ma_giam_gia` DISABLE KEYS */;
/*!40000 ALTER TABLE `ma_giam_gia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguoi_dung`
--

DROP TABLE IF EXISTS `nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nguoi_dung` (
  `ma_nguoi_dung` int(11) NOT NULL AUTO_INCREMENT,
  `ho_ten` varchar(100) NOT NULL,
  `ten` varchar(50) DEFAULT NULL COMMENT 'Ten (de sap xep A-Z)',
  `ho` varchar(50) DEFAULT NULL COMMENT 'Ho',
  `ten_dem` varchar(100) DEFAULT NULL COMMENT 'T├¬n ─æß╗çm',
  `email` varchar(150) NOT NULL,
  `mat_khau_ma_hoa` varchar(255) NOT NULL,
  `vai_tro` enum('admin','staff','user') NOT NULL DEFAULT 'user',
  `so_dien_thoai` varchar(20) DEFAULT NULL,
  `dia_chi` text DEFAULT NULL,
  `anh_dai_dien` varchar(255) DEFAULT NULL,
  `diem_tich_luy` int(11) NOT NULL DEFAULT 0,
  `trang_thai` tinyint(1) NOT NULL DEFAULT 1,
  `ngay_xac_thuc_email` timestamp NULL DEFAULT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  `ngay_cap_nhat` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`ma_nguoi_dung`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_vai_tro` (`vai_tro`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bang luu thong tin nguoi dung / khach hang';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguoi_dung`
--

LOCK TABLES `nguoi_dung` WRITE;
/*!40000 ALTER TABLE `nguoi_dung` DISABLE KEYS */;
/*!40000 ALTER TABLE `nguoi_dung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `san_pham`
--

DROP TABLE IF EXISTS `san_pham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `san_pham` (
  `ma_san_pham` int(11) NOT NULL AUTO_INCREMENT,
  `ten_san_pham` varchar(200) NOT NULL,
  `duong_dan` varchar(220) NOT NULL,
  `mo_ta` text DEFAULT NULL,
  `mo_ta_ngan` text DEFAULT NULL,
  `gia_goc` decimal(15,2) NOT NULL,
  `gia_khuyen_mai` decimal(15,2) DEFAULT NULL,
  `so_luong_ton` int(11) NOT NULL DEFAULT 0,
  `canh_bao_ton_toi_thieu` int(11) NOT NULL DEFAULT 5,
  `ma_danh_muc` int(11) NOT NULL,
  `ma_thuong_hieu` int(11) NOT NULL,
  `anh_dai_dien` varchar(255) DEFAULT NULL,
  `trang_thai` tinyint(1) NOT NULL DEFAULT 1,
  `noi_bat` tinyint(1) NOT NULL DEFAULT 0,
  `luot_xem` int(11) NOT NULL DEFAULT 0,
  `danh_gia_tb` decimal(3,2) NOT NULL DEFAULT 0.00,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  `ngay_cap_nhat` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `thoi_gian_bao_hanh` int(11) NOT NULL DEFAULT 12 COMMENT 'S??? th??ng b???o h??nh m???c ?????nh',
  `phi_van_chuyen` decimal(12,0) NOT NULL DEFAULT 30000 COMMENT 'Ph?? v???n chuy???n ri??ng c???a s???n ph???m (VND)',
  PRIMARY KEY (`ma_san_pham`),
  UNIQUE KEY `duong_dan` (`duong_dan`),
  KEY `idx_duong_dan` (`duong_dan`),
  KEY `idx_danh_muc` (`ma_danh_muc`),
  KEY `idx_thuong_hieu` (`ma_thuong_hieu`),
  KEY `idx_trang_thai` (`trang_thai`),
  KEY `idx_noi_bat` (`noi_bat`),
  FULLTEXT KEY `ft_tim_kiem` (`ten_san_pham`,`mo_ta`,`mo_ta_ngan`),
  CONSTRAINT `san_pham_ibfk_1` FOREIGN KEY (`ma_danh_muc`) REFERENCES `danh_muc` (`ma_danh_muc`),
  CONSTRAINT `san_pham_ibfk_2` FOREIGN KEY (`ma_thuong_hieu`) REFERENCES `thuong_hieu` (`ma_thuong_hieu`)
) ENGINE=InnoDB AUTO_INCREMENT=115 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bang san pham chinh';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `san_pham`
--

LOCK TABLES `san_pham` WRITE;
/*!40000 ALTER TABLE `san_pham` DISABLE KEYS */;
/*!40000 ALTER TABLE `san_pham` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thong_bao`
--

DROP TABLE IF EXISTS `thong_bao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thong_bao` (
  `ma_thong_bao` int(11) NOT NULL AUTO_INCREMENT,
  `ma_nguoi_dung` int(11) NOT NULL,
  `tieu_de` varchar(255) NOT NULL,
  `noi_dung` text NOT NULL,
  `loai` varchar(50) DEFAULT 'system',
  `da_doc` tinyint(1) DEFAULT 0,
  `ma_tham_chieu` varchar(50) DEFAULT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_thong_bao`),
  KEY `ma_nguoi_dung` (`ma_nguoi_dung`),
  CONSTRAINT `thong_bao_ibfk_1` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thong_bao`
--

LOCK TABLES `thong_bao` WRITE;
/*!40000 ALTER TABLE `thong_bao` DISABLE KEYS */;
/*!40000 ALTER TABLE `thong_bao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thong_so_ky_thuat`
--

DROP TABLE IF EXISTS `thong_so_ky_thuat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thong_so_ky_thuat` (
  `ma_thong_so` int(11) NOT NULL AUTO_INCREMENT,
  `ma_san_pham` int(11) NOT NULL,
  `ten_thong_so` varchar(100) NOT NULL,
  `gia_tri` varchar(255) NOT NULL,
  `don_vi` varchar(50) DEFAULT NULL,
  `thu_tu` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`ma_thong_so`),
  KEY `idx_san_pham` (`ma_san_pham`),
  CONSTRAINT `thong_so_ky_thuat_ibfk_1` FOREIGN KEY (`ma_san_pham`) REFERENCES `san_pham` (`ma_san_pham`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=601 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Thong so ky thuat cua tung san pham';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thong_so_ky_thuat`
--

LOCK TABLES `thong_so_ky_thuat` WRITE;
/*!40000 ALTER TABLE `thong_so_ky_thuat` DISABLE KEYS */;
/*!40000 ALTER TABLE `thong_so_ky_thuat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thuong_hieu`
--

DROP TABLE IF EXISTS `thuong_hieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thuong_hieu` (
  `ma_thuong_hieu` int(11) NOT NULL AUTO_INCREMENT,
  `ten_thuong_hieu` varchar(100) NOT NULL,
  `duong_dan` varchar(120) NOT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `quoc_gia` varchar(50) DEFAULT NULL,
  `trang_thai` tinyint(1) NOT NULL DEFAULT 1,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_thuong_hieu`),
  UNIQUE KEY `ten_thuong_hieu` (`ten_thuong_hieu`),
  UNIQUE KEY `duong_dan` (`duong_dan`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bang thuong hieu san pham';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thuong_hieu`
--

LOCK TABLES `thuong_hieu` WRITE;
/*!40000 ALTER TABLE `thuong_hieu` DISABLE KEYS */;
INSERT INTO `thuong_hieu` VALUES (1,'ASUS','asus',NULL,'─É├ái Loan',1,'2026-04-20 04:00:40'),(2,'MSI','msi',NULL,'─É├ái Loan',1,'2026-04-20 04:00:40'),(3,'Dell','dell',NULL,'Mß╗╣',1,'2026-04-20 04:00:40'),(4,'HP','hp',NULL,'Mß╗╣',1,'2026-04-20 04:00:40'),(6,'Apple','apple',NULL,'Mß╗╣',1,'2026-04-20 04:00:40'),(7,'Samsung','samsung',NULL,'H├án Quß╗æc',1,'2026-04-20 04:00:40'),(9,'Logitech','logitech',NULL,'Thß╗Ñy S─⌐',1,'2026-04-20 04:00:40'),(10,'Razer','razer',NULL,'Mß╗╣',1,'2026-04-20 04:00:40'),(19,'Corsair','corsair',NULL,'Mß╗╣',1,'2026-04-20 12:52:14');
/*!40000 ALTER TABLE `thuong_hieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voucher_nguoi_dung`
--

DROP TABLE IF EXISTS `voucher_nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `voucher_nguoi_dung` (
  `ma_id` int(11) NOT NULL AUTO_INCREMENT,
  `ma_voucher` int(11) NOT NULL,
  `ma_nguoi_dung` int(11) NOT NULL,
  `da_su_dung` tinyint(1) NOT NULL DEFAULT 0,
  `ngay_gui` timestamp NOT NULL DEFAULT current_timestamp(),
  `ngay_su_dung` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ma_id`),
  UNIQUE KEY `uq_vc_user` (`ma_voucher`,`ma_nguoi_dung`),
  KEY `idx_nguoi_dung` (`ma_nguoi_dung`),
  KEY `idx_voucher` (`ma_voucher`),
  CONSTRAINT `voucher_nguoi_dung_ibfk_1` FOREIGN KEY (`ma_voucher`) REFERENCES `ma_giam_gia` (`ma_voucher`) ON DELETE CASCADE,
  CONSTRAINT `voucher_nguoi_dung_ibfk_2` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Voucher da duoc cap phat cho nguoi dung cu the';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voucher_nguoi_dung`
--

LOCK TABLES `voucher_nguoi_dung` WRITE;
/*!40000 ALTER TABLE `voucher_nguoi_dung` DISABLE KEYS */;
INSERT INTO `voucher_nguoi_dung` VALUES (1,2,3,0,'2026-04-21 15:41:03',NULL),(2,4,3,0,'2026-04-21 15:41:19',NULL),(3,1,3,1,'2026-04-21 15:42:30','2026-04-22 03:16:05'),(4,3,3,1,'2026-04-22 03:08:38','2026-04-22 16:30:03'),(5,3,4,0,'2026-04-22 03:08:38',NULL),(6,3,5,0,'2026-04-22 03:08:38',NULL);
/*!40000 ALTER TABLE `voucher_nguoi_dung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yeu_cau_bao_hanh`
--

DROP TABLE IF EXISTS `yeu_cau_bao_hanh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `yeu_cau_bao_hanh` (
  `ma_bao_hanh` int(11) NOT NULL AUTO_INCREMENT,
  `ma_nguoi_dung` int(11) NOT NULL,
  `ma_chi_tiet_dh` int(11) NOT NULL,
  `so_serial` varchar(100) DEFAULT NULL,
  `mo_ta_su_co` text NOT NULL,
  `hinh_thuc` enum('buu_dien','ship_ve','den_cua_hang') NOT NULL DEFAULT 'buu_dien' COMMENT 'Hinh thuc gui bao hanh',
  `so_dien_thoai` varchar(20) DEFAULT NULL,
  `lich_hen` datetime DEFAULT NULL,
  `trang_thai` enum('cho_xu_ly','dang_xu_ly','hoan_thanh','tu_choi') NOT NULL DEFAULT 'cho_xu_ly',
  `ma_nhan_vien_xu_ly` int(11) DEFAULT NULL,
  `ghi_chu_xu_ly` text DEFAULT NULL,
  `ngay_tiep_nhan` datetime NOT NULL DEFAULT current_timestamp(),
  `ngay_hoan_thanh` datetime DEFAULT NULL,
  PRIMARY KEY (`ma_bao_hanh`),
  KEY `ma_chi_tiet_dh` (`ma_chi_tiet_dh`),
  KEY `ma_nhan_vien_xu_ly` (`ma_nhan_vien_xu_ly`),
  KEY `idx_nguoi_dung` (`ma_nguoi_dung`),
  KEY `idx_trang_thai` (`trang_thai`),
  CONSTRAINT `yeu_cau_bao_hanh_ibfk_1` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`),
  CONSTRAINT `yeu_cau_bao_hanh_ibfk_2` FOREIGN KEY (`ma_chi_tiet_dh`) REFERENCES `chi_tiet_don_hang` (`ma_chi_tiet`),
  CONSTRAINT `yeu_cau_bao_hanh_ibfk_3` FOREIGN KEY (`ma_nhan_vien_xu_ly`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Yeu cau bao hanh san pham cua khach hang';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yeu_cau_bao_hanh`
--

LOCK TABLES `yeu_cau_bao_hanh` WRITE;
/*!40000 ALTER TABLE `yeu_cau_bao_hanh` DISABLE KEYS */;
INSERT INTO `yeu_cau_bao_hanh` VALUES (1,3,1,NULL,'ad','den_cua_hang','0123456789','2026-04-22 21:52:00','cho_xu_ly',NULL,NULL,'2026-04-21 21:53:09',NULL);
/*!40000 ALTER TABLE `yeu_cau_bao_hanh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yeu_thich`
--

DROP TABLE IF EXISTS `yeu_thich`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `yeu_thich` (
  `ma_yeu_thich` int(11) NOT NULL AUTO_INCREMENT,
  `ma_nguoi_dung` int(11) NOT NULL,
  `ma_san_pham` int(11) NOT NULL,
  `ngay_them` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_yeu_thich`),
  UNIQUE KEY `uq_nguoi_sp` (`ma_nguoi_dung`,`ma_san_pham`),
  KEY `ma_san_pham` (`ma_san_pham`),
  KEY `idx_nguoi_dung` (`ma_nguoi_dung`),
  CONSTRAINT `yeu_thich_ibfk_1` FOREIGN KEY (`ma_nguoi_dung`) REFERENCES `nguoi_dung` (`ma_nguoi_dung`) ON DELETE CASCADE,
  CONSTRAINT `yeu_thich_ibfk_2` FOREIGN KEY (`ma_san_pham`) REFERENCES `san_pham` (`ma_san_pham`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh sach san pham yeu thich cua nguoi dung';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yeu_thich`
--

LOCK TABLES `yeu_thich` WRITE;
/*!40000 ALTER TABLE `yeu_thich` DISABLE KEYS */;
INSERT INTO `yeu_thich` VALUES (6,2,18,'2026-04-20 14:48:28'),(7,2,15,'2026-04-20 14:48:29'),(8,2,14,'2026-04-20 14:48:30'),(27,3,18,'2026-04-22 05:58:21'),(28,3,17,'2026-04-22 05:58:22'),(41,3,111,'2026-04-22 10:49:07'),(42,3,46,'2026-04-22 12:45:42');
/*!40000 ALTER TABLE `yeu_thich` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-23 11:12:14
